.table-list {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-size: 14px;

  thead tr th,
  tbody tr td {
    &:nth-child(1) {
      width: 40%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 15%;
    }

    &:nth-child(5) {
      width: 5%;
    }
  }
}

.text-odd:hover {
  background: #0a53be;
  color: white;
}

.w-35 {
  width: 35%;
}

.w-65 {
  width: 60%;
}
