.table-list {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-size: 13px;

  tbody tr td {
    &:nth-child(1) {
      width: 5%;
    }

    &:nth-child(2) {
      width: 30%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 20%;
    }

    &:nth-child(6) {
      width: 5%;
    }
  }
}

.table-info {
  --bg: #2e98ea;
  --bs-table-color: #000;
  --bs-table-bg: var(--bg);
  --bs-table-border-color: #a6c3ca;
  --bs-table-striped-bg: var(--bg);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: var(--bg);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: var(--bg);
  --bs-table-hover-color: #000;
  color: #003366 !important; /* chữ đậm hơn để dễ đọc */
  font-weight: bold;
}
